<div class="container">
  <% if flash[:notice] %>
    <h2 class="flash bg-success text-white text-center">
      <%= flash[:notice] %>
    </h2>
  <% end %>
</div>
<div class="container" id="page-title">
  <h1 :style="styles">クイズに挑戦する</h1>
</div><br>
<% if @user_quizzes.present? %>
  <div class="container">
    <h2 class="text-danger">挑戦中のクイズ</h2>
    <div class="card border-danger">
      <div class="card-body">
        <table class="table">
          <tbody>
            <% @user_quizzes.each do |quiz| %>
              <tr>
                <td>
                  <h3 class="h3"><%= quiz.title %><h3>
                  <h6>ジャンル：<%= quiz.genre %></h6>
                  <h6>作成ユーザー：<%= quiz.user.nickname %></h6>
                </td>
                <td>
                  <h6>いいね数 <%= quiz.likes.count %></h6>
                </td>
                <td>
                  <%= link_to "挑戦する", start_quiz_path(quiz), method: 'post', class: "btn btn-lg btn-info" %>
                </td>
              </tr>
            <% end %>
          </tbody>  
        </table>
      </div>
    </div>
  </div><br>
<% end %>
<%= form_tag(search_quizzes_path, method: :get) do %>
  <div class="container">
    <div class="row">
      <div class="col-6"> 
        <h2 class="text-success">ジャンル検索</h2>
      </div>
      <div class="col-6"> 
        <%= link_to "あなたが”いいね！”したクイズ一覧", like_quizzes_path, class: "float-right" %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <%= text_field_tag :search, "#{params[:search]}", class: "form-control border-success", placeholder: "ジャンルを入力" %>
      </div>
      <div class="col-6">
        <%= submit_tag "検索", genre: nil, class: "btn btn-success" %> 
      </div>
    </div>
  </div><br>
<% end %>
<div class="container">
  <div class="card border-success">
    <div class="card-body">
      <div class="h5">
        <%= page_entries_info @quizzes %>
      </div>
      <table class="table">
        <tbody>
          <% @quizzes.each do |quiz| %>
            <tr>
              <td>
                <h3 class="h3"><%= quiz.title %><h3>
                <h6>ジャンル：<%= quiz.genre %></h6>
                <h6>作成ユーザー：<%= quiz.user.nickname %></h6>
              </td>
              <td>
                <h6>いいね数 <%= quiz.likes.count %></h6>
              </td>
              <td>
                <%= link_to "挑戦する", start_quiz_path(quiz), method: 'post', class: "btn btn-lg btn-info" %>
              </td>
            </tr>
          <% end %>
        </tbody>  
      </table>
      <%= paginate @quizzes %>
    </div>
  </div>
</div><br><br>