<div class="container bg-warning">
  <h1 class="text-white text-center"><%= @quiz.title %></h1>
  <h4 class="text-white text-center">ジャンル：<%= @quiz.genre %></h4>
</div><br>
<div class="container">
  <div class="card border-info">
    <div class="card-body">
      <% @questions.each do |question| %>
        <h3 class="text-info">第<%= @questions.current_page %>問</h3>
        <div class="card border-info">
          <div class="card-body">
            <h6><%= simple_format(question.content, sanitize: true) %></h6>
          </div>
        </div><br>
        <% question.answers.shuffle.each do |answer| %>
          <div class="row">
            <div class="col text-center"> 
              <a class="btn btn-lg btn-outline-info btn-block"><%= simple_format(answer.content, sanitize: true) %></a>
            </div>
          </div><br>   
        <% end %> 
        <h3 class="text-info">解説</h3>
        <div class="card border-info">
          <div class="card-body">
            <h6><%= question.commentary %></h6>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="actions">
        <%= link_to_next_page @questions, "次の問題へ", class: "btn btn-success float-right text-white" %>
        <% if @questions.last_page? %>
          <%= link_to "結果画面へ", result_quiz_path(@quiz), class: "btn btn-success float-right text-white" %>
        <% end %>
      </div>       
    </div>
  </div>
</div><br><br>
<i class="far fa-circle fa-10x"></i>
<i class="fas fa-times fa-10x"></i>