<% i = 0 %>
<div class="container">
  <% if flash[:notice] %>
    <h2 class="flash bg-primary text-white text-center">
      <%= flash[:notice] %>
    </h2>
  <% end %>
</div>
<div class="container">
  <h1 class="bg-warning text-white text-center">クイズ編集</h1>
</div><br>
<%= form_tag(my_quiz_path(@quiz), method: :patch) do %>
  <div class="container">
    <h5 class=" text-info">クイズ名</h5>
    <div class="row">      
      <div class="col-7">
        <%= text_field_tag "title", @quiz.title, class: "form-control border-info", required: true %>
      </div>
    </div>
  </div><br>
  <div class="container">
    <h5 class=" text-info">ジャンル</h5>
    <div class="row">      
      <div class="col-5">      
        <%= text_field_tag "genre", @quiz.genre, class: "form-control border-info", required: true %>
      </div>
    </div>
  </div><br>
  <div class="container">
    <h6 class=" text-danger">＊問題は最大で１００問作成できます。</h6>
    <h6 class=" text-danger">＊選択肢は問題毎に２〜５択に調節できます。</h6>
    <h6 class=" text-danger">＊正解の選択肢を複数に設定することができません。</h6>
  </div><br>
  <div class="container" id="quiz_container">
    <% if @quiz.questions.present? %>
      <% @quiz.questions.each do |question| %>
        <div id="question_<%= i %>" class="question">
          <div class="row">      
            <div class="col-12">
              <div class="card border-info">
                <div class="card-body">
                  <%= hidden_field_tag "question_id_#{i}", question.id %>
                  <div class="row">
                    <div class="col-3">
                      <h3 class="text-info">問題文</h3>
                    </div>
                    <div class="col-9">
                      <a id="delete_question_<%= i %>" class="btn btn-danger float-right text-white delete_question">問題の削除</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <%= text_area_tag "question_content_#{i}", "#{question.content}", class: "form-control border-info q_content", rows: 3, placeholder: "問題文を作成してください。", required: true %>
                    </div>
                  </div><br>
                  <div class="row">
                    <div class="col">
                      <h3 class="text-info">選択肢</h3>
                    </div>
                  </div>
                  <div id="answer_<%= i %>" class="answers">
                    <% question.answers.each_with_index do |answer, j| %>
                      <div id="<%= "answer_#{i}_#{j}" %>" class="answer">
                        <div class="row">
                          <div class="col-2">
                            <%= select_tag "judgment_#{i}_#{j}", options_for_select([['×', false], ['○', true]], selected: "#{answer.judgment}"), class: "form-control border-info judgment" %>
                          </div>
                          <div class="col-8">      
                            <%= text_area_tag "answer_content_#{i}_#{j}", "#{answer.content}", class: "form-control border-info content", rows: 1, placeholder: "選択肢を作成してください。", required: true %>
                          </div>
                          <% if j >= 2 %>
                            <div class="col-2">
                              <a id="<%= "delete_answer_#{i}_#{j}" %>" class="btn btn-danger delete_answer">🗑</a>
                            </div>
                          <% end %>
                        </div><br>
                      </div>
                    <% end %>
                  </div>
                  <div class="row">
                    <div class="col-11">
                      <a id="add_answer_<%= i %>" class="btn btn-success float-right text-white add_answer">選択肢の追加</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <h3 class="text-info">解説</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <%= text_area_tag "commentary_#{i}", "#{question.commentary}", class: "form-control border-info commentary", rows: 3, placeholder: "解説文を作成してください。", required: true %>
                    </div>
                  </div><br>
                </div>
              </div>
            </div>
          </div><br>
        </div>
        <% i += 1 %>
      <% end %>
    <% else %>
      <div id="question_<%= i %>" class="question">
        <div class="row">      
          <div class="col-12">
            <div class="card border-info">
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <h3 class="text-info">問題文</h3>
                  </div>
                  <div class="col-9">
                    <a id="delete_question_<%= i %>" class="btn btn-danger float-right text-white delete_question">問題の削除</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <%= text_area_tag "question_content_#{i}", "", class: "form-control border-info q_content", rows: 3, placeholder: "問題文を作成してください。", required: true %>
                  </div>
                </div><br>
                <div class="row">
                  <div class="col">
                    <h3 class="text-info">選択肢</h3>
                  </div>
                </div>
                <div id="answer_<%= i %>" class="answers">
                  <% 5.times do |j| %>
                    <div id="<%= "answer_#{i}_#{j}" %>" class="answer">
                      <div class="row">
                        <div class="col-2">
                          <%= select_tag "judgment_#{i}_#{j}", options_for_select([['×', false], ['○', true]]), class: "form-control border-info judgment" %>
                        </div>
                        <div class="col-8">      
                          <%= text_area_tag "answer_content_#{i}_#{j}", "", class: "form-control border-info content", rows: 1, placeholder: "選択肢を作成してください。", required: true %>
                        </div>
                        <% if j >= 2 %>
                          <div class="col-2">
                            <a id="<%= "delete_answer_#{i}_#{j}" %>" class="btn btn-danger delete_answer">🗑</a>
                          </div>
                        <% end %>
                      </div><br>
                    </div>
                  <% end %>
                </div>
                <div class="row">
                  <div class="col-11">
                    <a id="add_answer_<%= i %>" class="btn btn-success float-right text-white add_answer">選択肢の追加</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <h3 class="text-info">解説</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <%= text_area_tag "commentary_#{i}", "", class: "form-control border-info commentary", rows: 3, placeholder: "解説文を作成してください。", required: true %>
                  </div>
                </div><br>
              </div>
            </div>
          </div>
        </div><br>
      </div>
    <% end %>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="actions">
          <a id="add_question" class="btn btn-success float-right text-white add_question">問題の追加</a>
        </div>
      </div>
    </div>
  </div><br><br>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="actions">
          <%= submit_tag "保存する", class: "btn btn-primary btn-lg float-right text-white" %>
        </div>
      </div>
    </div>
  </div><br><br> 
<% end %>
