<div class="container">
  <% if flash[:notice] %>
    <h2 class="flash bg-primary text-white text-center">
      <%= flash[:notice] %>
    </h2>
  <% end %>
</div>
<div class="container">
  <h1 class="bg-warning text-white text-center">クイズを作成・編集する</h1>
</div><br>
<div class="container">
  <h4 class=" text-info">進め方</h4>
  <div class="row">      
    <div class="col-12">
      <div class="card border-info">
        <div class="card-body">
          <h6 class=" text-success">１. ”クイズ作成”ボタンをクリックしてクイズタイトル・ジャンルを作成してください。</h6>
          <h6 class=" text-success">２. ”編集”ボタンをクリックして問題・選択肢・解説を作成してください。</h6>
          <h6 class=" text-success">３. ”公開”ボタンをクリックしてみんなにクイズを解いてもらいましょう。ただし、編集はできなくなるので問題の見直しをきちんとしておきましょう。</h6>
          <h6 class=" text-success">４. クイズの公開後表示される”削除”ボタンをクリックするとそのクイズを公開場所から削除することができます。ただし、もう１度公開することができないため、みんなにもう解いてほしくないクイズに対して行ってください。</h6>
        </div>
      </div>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-6 d-flex align-items-center">
      <% if @quizzes.present? %>
        <h2 class="text-info">MYクイズリスト</h2>
      <% end %>
    </div>
    <div class="col-6"> 
      <%= link_to "クイズ作成", new_my_quiz_path, class: "btn btn-lg btn-warning float-right" %>
    </div>
  </div><br>
  <% unless @quizzes.present? %>
    <h2 class="text-danger text-center">クイズを作成してください。</h2>
  <% end %>
  <div class="row">      
    <div class="col-12">
      <div class="card border-info">
        <div class="card-body">
          <% @quizzes.each do |quiz| %>
            <ul>
              <div class="row">      
                <div class="col-8">
                  <li class="h3"><%= quiz.title %></li>
                  <h5>ジャンル：<%= quiz.genre %></h5>       
                </div>   
                <% if quiz.before_release? %>  
                  <div class="col-2 d-flex align-items-center">
                    <%= link_to "編集", edit_my_quiz_path(quiz), class: "btn btn-lg btn-success" %>
                  </div>
                  <div class="col-2 d-flex align-items-center">
                    <%= link_to "公開", released_my_quiz_path(quiz), method: :patch, data: {confirm: "このクイズを公開しますか？"}, class: "btn btn-lg btn-info" %>
                  </div>
                <% end %>
                <% if quiz.released? %>
                  <div class="col-2 d-flex align-items-center">
                    <%= link_to "削除", deleted_my_quiz_path(quiz), method: :patch, data: {confirm: "このクイズを公開場所から削除しますか？"}, class: "btn btn-lg btn-danger" %>
                  </div>
                <% end %>
                <% if quiz.deleted? %>
                  <div class="col-4 d-flex align-items-center">
                    <h4 class=" text-info">削除済み</h4>
                  </div>
                <% end %>
              </div>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div> 
</div><br><br>
