<% if @bulletin_board.errors.any? %>
  <div class="container">  
    <div class="alert alert-danger" role="alert">
      内容を記載してください。
    </div>
  </div>  
<% end %>
<div class="container" id="page-title">
  <h1 :style="styles">掲示板に記入する</h1>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-9">
      <h5 class="text-success float-right">アイコン画像の設定はこちらから➡︎</h1>
    </div>
    <div class="col-3">
      <%= link_to "会員情報の変更へ", edit_user_path, class: "btn btn-info text-white" %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <% if @user.icon? %>
        <%= image_tag @user.icon.url, id: :icon_prev, class: "user_icon float-right" %>
      <% else %>
        <img id="icon_prev" src="/assets/default.png" class="user_icon float-right">
      <% end %>
    </div>
    <div class="col-10">
      <h2><%= current_user.nickname %></h2>  
    </div>
  </div>
</div><br>
<div class="container">
  <%= form_for(@bulletin_board) do |f| %>
    <div class="row">
      <div class="col">
        <%= f.text_area :message, class: "form-control border-success", rows: 10, placeholder: "色んなクイズをした感想を書いたり、あなたが作ったクイズを宣伝しましょう。" %>
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-7">
        <%= f.submit "掲示板に載せる", class: "btn btn-primary btn-lg float-right" %>
      </div>
    </div>
  <% end %>  
</div><br><br>
