<div class="container">
  <h1 class="bg-success text-white text-center">クイズ掲示板</h1>
</div><br>
<div class="container">
  <%= link_to "掲示板に記入", new_bulletin_board_path, class: "btn btn-primary text-white float-right" %>
</div><br><br>
<%= form_tag(search_bulletin_boards_path, method: :get) do %>
  <div class="container">
    <div class="row">
      <div class="col-6"> 
        <h2 class="text-info">キーワード検索</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <%= text_field_tag :search, "#{params[:search]}", class: "form-control border-info" %>
      </div>
      <div class="col-6">
        <%= submit_tag "検索", message: nil, class: "btn btn-warning" %> 
      </div>
    </div>
  </div><br>
<% end %>
<div class="container">
  <div class="h5">
    <%= page_entries_info @bulletin_boards %>
  </div>
  <% @bulletin_boards.each do |bulletin_board|%>
    <div class="card border-primary">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <%= simple_format(bulletin_board.message, sanitize: true) %>
          </div>
          <div class="col">
            <% if bulletin_board.user.icon? %>
              <%= image_tag bulletin_board.user.icon.url, id: :icon_prev, class: "icon float-right" %>
            <% else %>
              <img id="icon_prev" src="/assets/default.png" class="icon float-right">
            <% end %>
            <div class="row">
              <div class="col">
                <h5 class="float-right"><%= bulletin_board.user.nickname %></h5>
              </div>
            </div>
          </div>
          <div class="col-12">
            <h6 class="float-right"><%= bulletin_board.created_at.strftime("%Y年%-m月%-d日") %></h6>
          </div>    
        </div>
      </div>
    </div><br>
  <% end %>
  <%= paginate @bulletin_boards %>
</div><br><br>